body{
    background-image: url("imagenes/fondo.png");
    background-color: darkseagreen;
}

.content{
    margin-top: 55px;
}

section{
    float:left;
    width: 90%;
}

.seccion2{
    float:right;
    width: 100%;
}

.seccion3{
    width: 100%;
}

div{
    background-color: #fec553;
    border: solid;
    border-color: #fec553;
    border-radius: 10px;
    margin: 150px 10px 10px 70px;
    padding: 10px;
    width: 50%;
}

.bloque2{
    background-color: #fec553;
    border: solid;
    border-color: #fec553;
    border-radius: 10px;
    margin: 150px 10px 10px 70px;
    padding: 10px;
    width: 90%;
}

.bloque3{
    background-color: #fec553;
    border: solid;
    border-color: #fec553;
    border-radius: 10px;
    margin: 150px 10px 10px 70px;
    padding: 10px;
    width: 90%;
}

h2{
    text-transform: uppercase;
    text-align: center;
    text-shadow: 2px 2px 2px #9d7a35;
}

section p{
    text-align: justify;
    text-indent: 30px;
    font-size: 30px;
}

.imagen1{
    position: absolute;
    top: 100px;
    right: 50px;
    border: solid;
    border-color: #86d635;
    border-radius: 10px;
}

div img.imagen2{
    position: relative;
    left: 425px;
    border: solid;
    border-color: #86d635;
    border-radius: 10px;
    height: 400px;
    width: 350px;
}

.lista2{
    font-size: 30px;
}